.avatar__container {
  margin-left: 5px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.avatar__select {
  width: 5.5rem;
  height: auto;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;

  &:hover {
    background-color: darken($background-color, 50%);
  }
}

.avatar-selected {
  background-color: darken($background-color, 50%);
}
