.room-settings {
  flex: 3;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: $settings-color;
}

.settings__title {
  font-family: "Bree Serif", serif;
  font-size: 3rem;
  align-self: center;
}

.settings__subtitle {
  font-family: "Bree Serif", serif;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.setting__select {
  font-size: 1rem;
}

.share__button {
  font-family: "Bree Serif", serif;
  letter-spacing: 2px;

  &:hover span {
    display: none;
  }

  &:hover::before {
    content: "Copy Room Id";
  }
}
