.play-area {
  margin: 1rem;
  display: flex;
  height: 75vh;
}

.right__component {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.guess__word {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid red;
}
