$white: #ffffff;
$black: #000000;
$background-color: #f9f9f1;
$title-color: #19294d;
$text-color: #728b97;
$button-color: #2f98c9;
$settings-color: #da6244;
$rules-color: #b20650;
$button-background-1: rgb(129, 230, 217);
$button-background-2: rgb(79, 209, 197);
$button-background-3: #4fd1c5;
$button-background-4: #00ffcb;
$button-background-5: rgba(0, 255, 203, 0.64);
